@model IEnumerable<MP.Models.WxAppViewModels.WxAppViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">

        @foreach (var item in Model)
        {
            <div class="card border-0 col-2">
                <img class="card-img-top" src="@item.IconUrl" alt="@(item.AppName)" title="@item.AppName">
                <div class="card-body text-center">
                    <span class="">@(item.AppName.Length > 6 ? item.AppName : item.AppAlias)</span>
                </div>
            </div>
        }
    </div>
</div>