@model MP.Models.WeChatAppsViewModels.WeChatAppCreateViewModel

@{
    ViewData["Title"] = "Create";
}


<div class="container">
    <div>
        <a asp-action="Index"><span class="oi oi-chevron-left small"></span> 返回</a>
    </div>
    <hr />

    <form asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="AppId" class="control-label">AppId:</label>
                <input asp-for="AppId" class="form-control" />
                <span asp-validation-for="AppId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Secret" class="control-label">AppSecret:</label>
                <input asp-for="Secret" class="form-control" />
                <span asp-validation-for="Secret" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="AppName" class="control-label">名称:</label>
                <input asp-for="AppName" class="form-control" />
                <span asp-validation-for="AppName" class="text-danger"></span>
            </div>

            <div class="form-group col-md-6">
                <label asp-for="AppAlias" class="control-label">别名: </label>
                <input asp-for="AppAlias" class="form-control" placeholder="名称过长使用别名代替" />
                <span asp-validation-for="AppAlias" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Email" class="control-label">邮箱:</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="IconUrl" class="control-label">图标 <span class="oi oi-link-intact small text-secondary"></span></label>
            <input asp-for="IconUrl" class="form-control" />
            <span asp-validation-for="IconUrl" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CoverUrl" class="control-label">封面 <span class="oi oi-link-intact small text-secondary"></span></label>
            <input asp-for="CoverUrl" class="form-control" />
            <span asp-validation-for="CoverUrl" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="BannerUrl" class="control-label">Banner <span class="oi oi-link-intact small text-secondary"></span></label>
            <input asp-for="BannerUrl" class="form-control" />
            <span asp-validation-for="BannerUrl" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="QRUrl" class="control-label">小程序二维码 <span class="oi oi-link-intact small text-secondary"></span></label>
            <input asp-for="QRUrl" class="form-control" />
            <span asp-validation-for="QRUrl" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ShareUrl" class="control-label">分享图 <span class="oi oi-link-intact small text-secondary"></span></label>
            <input asp-for="ShareUrl" class="form-control" />
            <span asp-validation-for="ShareUrl" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Tags" class="control-label">标签:</label>
            <input asp-for="Tags" class="form-control" />
            <span asp-validation-for="Tags" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Title" class="control-label">标题:</label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description" class="control-label">产品描述:</label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Remark" class="control-label">备注:</label>
            <input asp-for="Remark" class="form-control" />
            <span asp-validation-for="Remark" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="创建小程序" class="btn btn-primary" />
        </div>
    </form>

</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
